h3{
    text-align: center
}
.onedetail_wrap{
    padding: 20px;
    .detail_label{
        padding: 10px 0;
        font-weight: bold;
        margin-top: 10px;
    }
    p{
        line-height: 25px;
        text-indent: 2em;
    }
}